.wrapper {
    margin-top: 23px;
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
}

@media (max-width: 390px) {
    .wrapper {
        gap: 13px;
    }
}

.paginationWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.leftArrow, .rightArrow {
    border: none;
    background: rgba(0,0,0,0);
    width: 18px;
    height: 18px;
    padding: 3px;
}

.paginationItem {
    padding: 8px 12px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1E1E1E;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 16px;
    word-wrap: break-word;
    background-color: rgba(0,0,0,0);
    border: none;
    min-width: 32px;
    &.active {
        background: #765996;
        color: #fff;
    }
}