.title {
    margin-top: 30px;
    text-align: center;
    color: #121417;
    font-size: 22px;
    font-family:'Inter', sans-serif;
    font-weight: 700;
    line-height: 28px;
    word-wrap: break-word;
}

